.toolbar-background {
    top: 5px;
    transform: translateZ(0px);
    contain: strict;
    opacity: var(--opacity);
    z-index: -1;
    pointer-events: none;
}
.redondo{
    width: 100px;
    border-radius: 50px;
    height: 100px;
}
.brown{
    color: #232f34;
}
.feature{
    color: #232f34;
    margin-left: 14px;
    font-weight: 700;
    margin-top: 20ionic cordova preparepx   !important
    
}
