<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="brown"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="brown">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--LISTA-->
<div>
  <h4 class="feature">Hamburguesas</h4>
</div>

<ion-list>
  <ion-item>
    <ion-label>Nachos Burguers</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>hamburuesas de pepe</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Burguers</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>papas fredy</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>super burguers</ion-label>
  </ion-item>
</ion-list>
</ion-content>
