<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="brown"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="brown">Comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--LISTA-->
  <div>
    <h4 class="feature">Lo mejor en Ecotec</h4>
  </div>

  <ion-list>
    <ion-item *ngFor="let menus of comidas">
      <img slot="start" class="redondo" VSPACE="20" src="assets/nacho.jpg">
      <ion-label routerLink="/chats">
        <h1>{{menus.nombre}}</h1>
        <h3>{{menus.description}}<br>{{menus.valor}}</h3>
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>