<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="brown"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="brown">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--LISTA-->
  <div>
    <h4 class="feature">Hamburguesas</h4>
  </div>

  <ion-list>
    <ion-item>

      <img slot="start" class="redondo" VSPACE="20" src="assets/nacho.jpg">

      <ion-label>
        <h1>Nacho Burguers</h1>
        <h3>Haburguesa con queso y huevo<br>$3,00</h3>
      </ion-label>
    </ion-item>    
  </ion-list>

  <div>
    <h4 class="feature">Bebidas</h4>
  </div>

  <ion-list>
    <ion-item>

      <img slot="start" class="redondo" VSPACE="20" src="assets/nacho.jpg">

      <ion-label>
        <h1>Jugos company</h1>
        <h3>jugo natural de naranja<br>$1,00</h3>
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>