<ion-content>
    <!--fondo-->
    <div class="bg-reg">
  
      <!--Sobre Fondo-->
      <div class= "overlay">
        <!--Logo-->
        <div class="padding center">
          <img src="/assets/logo_uniexpress.png" class="logo-en-login" >
  
          <!--TEXTO-->
          <div class="mg-top-20">
            <h5 class="blanco bold">¿Estás Listo?</h5>
            <h5 class="blanco italic mg-top-5">Ingresa tus datos para crear la cuenta</h5>
          </div>
  
          <!--BOTONES-->
         <div class="padding-40 mg-top-50">
            <ion-item color="$" class="blanco">
                <ion-label position="stacked" class="blanco bold">E-mail</ion-label>
                <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
              </ion-item>

              <ion-item color="$" class="blanco">
                  <ion-label position="stacked" class="blanco bold">Nombre Completo</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
            
              <ion-item color="$" class="blanco">
                  <ion-label position="stacked" class="blanco bold">Contraseña</ion-label>
                  <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
                </ion-item>
          </div>
          <!--BOTON-->
          <div class="padding-40 mg-top-50">
            <ion-button expand="block" (click)="OnSubmitRegister()" >Registrar</ion-button>
            </div>
            <!--REGRESAR A LOGIN-->
            <div class="txt-registrar center mg-top-50 blanco" routerLink="/login">
                ¿Ya tienes cuenta?
            </div>
          </div>
       </div> 
      </div>
  </ion-content>
  