<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>chat

    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content #content padding id="content">
  <ion-card *ngFor="let message of messages">
    <ion-card-header>
      {{message.nombre}} dice:
    </ion-card-header>
    <ion-card-content>
      {{message.mensaje}}
    </ion-card-content>
  </ion-card>
  <div id="content-end"></div>
</ion-content>

<ion-footer padding>
  <ion-item>
    <ion-input placeholder="escribe algo..." [(ngModel)]="message"></ion-input>
    <ion-button color="success" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>