<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="brown"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="brown">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--LISTA-->
  <div>
    <h4 class="feature">Servicios</h4>
  </div>

  <ion-list>
    <ion-item>

      <img slot="start" class="redondo" VSPACE="20" src="assets/servicios.png">

      <ion-label>
        <h2>Deberes</h2>
        <h3>$24</h3>

      </ion-label>
    </ion-item>
    
      <ion-item>

          <img slot="start" class="redondo" VSPACE="20" src="assets/servicios.png">
    
          <ion-label>
            <h2>Masajes</h2>
            <h3>$10</h3>
    
          </ion-label>
        </ion-item>
        <ion-item>

            <img slot="start" class="redondo" VSPACE="20" src="assets/servicios.png">
      
            <ion-label>
              <h2>carinito</h2>
              <h3>$32</h3>
      
            </ion-label>
          </ion-item>
          <ion-item>

              <img slot="start" class="redondo" VSPACE="20" src="assets/servicios.png">
        
              <ion-label>
                <h2>drugs</h2>
                <h3>$10</h3>
        
              </ion-label>
            </ion-item>
            <ion-item>

                <img slot="start" class="redondo" VSPACE="20" src="assets/servicios.png">
          
                <ion-label>
                  <h2>abrazos</h2>
                  <h3>$24</h3>
          
                </ion-label>
              </ion-item>
    
  </ion-list>
</ion-content>