<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-list>
      <ion-item (click)="OnHome()">Inicio</ion-item>
      <ion-item>Publicar</ion-item>
      <ion-item (click)="OnCuenta()">Cuenta</ion-item>
      <ion-item>Preguntas</ion-item>
      <ion-item (click)="OnLogout()">Cerrar Sesión</ion-item>
    </ion-list>
    </ion-menu-toggle>
    
  </ion-content>
</ion-menu>