<ion-header no-shadow no-border>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fullscreenCenter">
<div class="cuadro-div">
  <div>
    <h2 class="tipo-text">Explora nuestras <br> Promociones </h2>
  </div>
  <ion-slides pager="true" class="tam-slides tam-slide">

      <ion-slide class="s-promo1">
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

    <div>
      <h2 class="tipo-text-cat">Categorias</h2>
    </div>

</div>
</ion-content>
