<ion-header no-shadow no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="fullscreenCenter">
<div class="cuadro-div">
  <div>
    <h2 class="tipo-text">Explora nuestras <br> Promociones </h2>
  </div>
  <ion-slides pager="true" class="tam-slides tam-slide">

      <ion-slide class="s-promo1">
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

    <div>
      <h2 class="tipo-text-cat" color="primary">Categorías</h2>
    </div>
    
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="13"> <!--col representa columnas, al estar todas estas img aqui, todas estan en una sola-->
            <img src="assets/ic-comida.jpg" class="cat-comida" routerLink="/menu">
            <img src="assets/ic-ropa.jpg" class="cat-ropa" routerLink="/ropa">
            <img src="assets/ic-elec.jpg" class="cat-electro" routerLink="/electronica">
            <img src="assets/ic-serv.jpg" class="cat-servi"routerLink= "/servicios">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <h2 class="tipo-text-des">Destacados</h2>
    </div>

    <ion-slides pager="true" class="tam-slides2 tam-slide">

      <ion-slide class="s-promo1">
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
