<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="brown"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="brown">Ropa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--LISTA-->
  <div>
    <h4 class="feature">Ropa</h4>
  </div>

  <ion-list>
    <ion-item *ngFor="let ropas of ropas" > 

      <img slot="start" class="redondo" VSPACE="20" src="assets/ropa.jfif">

      <ion-label>
        <h1>{{ropas.nombre}}</h1>
        <h3>{{ropas.description}}<br>{{ropas.valor}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
